{% extends 'base.html' %}


{% block content %}
{% load static %}
<script src="{% static 'js/for_search_html.js' %}"></script>
<div class="container-fluid">
    <form action="/search" class="form-inline justify-content-center flex-sm-row flex-column">
        <div class="form-group mb-sm-0 mb-1">
            <select class="form-control" name="category">
                <option value="all" {% if request.GET.category == 'all' %}selected="selected"{% endif %}>분류 없음</option>
                <option value="title" {% if request.GET.category == 'title' %}selected="selected"{% endif %}>제목</option>
                <option value="singer" {% if request.GET.category == 'singer' %}selected="selected"{% endif %}>가수/작곡자</option>
                <option value="group" {% if request.GET.category == 'group' %}selected="selected"{% endif %}>그룹</option>
            </select>
        </div>
        <div class="form-group mx-sm-3 flex-grow-1 mb-sm-0 mb-1">
            <input class="form-control flex-grow-1" type="text" placeholder="Default input" name="query" {% if request.GET.query %}value="{{ request.GET.query }}"{% endif %}>
        </div>
        <button class="btn btn-primary" type="submit">검색하기</button>
    </form>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">제목</th>
                <th scope="col">가수/작곡자</th>
                <th scope="col">분류</th>
            </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for song in object_list %}
            <tr>
                <th scope="row"></th>
                <td>
                    <button class="btn px-0" data-toggle="modal" data-target="#detailModal" data-pk="{{ song.pk }}">
                        {{ song.song_name_korean }}<br>({{ song.song_name_origin }})
                    </button>
                </td>
                <td>{{ song.singer }}</td>
                <td>{{ song.group }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <th scope="row"></th>
                <td>
                    검색 결과가 없습니다.
                </td>
                <td></td>
                <td></td>
        {% endif %}
        </tbody>
    </table>

    <div class="container mt-3">
        <nav aria-label="Page navigation">
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&query={{ request.GET.query }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <div class="d-flex flex-row">
                    <select name="pageNumberSelect" id="pageNumberSelect" class="form-control" onchange="go_to_page_using_select()">
                    {% for i in paginator.page_range %}
                        <option value="{{ i }}"{% if i == page_obj.number %}selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                    </select>
                    <input type="text" class="form-control" id="pageNumberInput" placeholder="{{ page_obj.number }}" onchange="go_to_page_using_input()">
                </div>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?{% if request.GET.category %}category={{ request.GET.category }}&query={{ request.GET.query }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">곡제목</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="d-flex flex-column flex-sm-row">
               <div class="d-flex justify-content-center mb-3">
                   <image src="img/Tebukuro-wo-Kai-ni-220x220.jpg" class="img-thumbnail"></image>
               </div>
               <div class="mr-0 pl-sm-3">
                <ul class="list-unstyled">
                    <li class="mb-1">한국어 제목: <span id="id_title_kor"></span></li>
                    <li class="mb-1">일본어 제목: <span id="id_title_jpn"></span></li>
                    <li class="mb-1">가수/작곡자: <span id="id_singer"></span></li>
                    <li class="mb-1">그룹: <span id="id_group"></span></li>
                </ul>
                </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">기기</th>
                            <th scope="col">노래방 번호</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">TJ</th>
                            <td><span id="id_tj"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">KY</th>
                            <td><span id="id_ky"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">DAM</th>
                            <td><span id="id_dam"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">UGA</th>
                            <td><span id="id_uga"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">JOYS</th>
                            <td><span id="id_joy"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">가사 검색하기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
